.main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e4f1f7;

  .login-form {
    height: 25rem;
    max-height: 25rem;
    width: 20rem;
    border-radius: 10px;
    background-color: #c1c4c9;

    .main-form-contents {
      margin-top: 60px;
      height: 10rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;

      label {
        font-size: 17px;
      }

      input {
        margin-left: 1rem;
        height: 20px;
        border-color: white;
        border-radius: 3px;
        opacity: 0.7;

        &:focus {
          outline: none;
          box-shadow: 0 0 10px rgb(215, 227, 230);
        }
      }
    }

    .login-btn {
      margin-top: 30px;
      border-radius: 5px;
      border-color: white;
      width: 200px;
      height: 40px;

      &:hover {
        cursor: pointer;
      }
    }

    .password-weak {
      font-size: small;
      color: red;
    }

    .password-medium {
      font-size: small;
      color: #b37915;
    }

    .password-strong {
      font-size: small;
      color: green;
    }
  }
}
