.nav-bar {
  height: 3rem;
  width: 100%;
  max-height: 3rem;
  background-color: black;
  color: white;
  position: fixed;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;

  .logo-container {
    height: 3rem;
    display: flex;
    align-items: center;

    .logo {
      text-decoration: none;
      color: white;
      width: fit-content;
      margin: 2rem;
      font-size: large;
    }
  }

  .action-section {
    width: 15rem;
    max-width: 15rem;
    height: 3rem;
    max-height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .about,
    .login {
      color: white;
      text-decoration: none;
      height: 25px;
      transition: all 0.3s ease;

      &:hover {
        border: 1px solid white;
        border-radius: 2px;
        cursor: pointer;
        box-shadow: 0 0 2px 2px white;
      }
    }
  }
}
